<div class="row">

  <div class="large-6 columns" id="writers">

    <dl class="tabs" data-tab>
      <dd class="active"><a href="#panel2-1">امیر وکیلی تهامی</a></dd>
      <dd><a href="#panel2-2">مهرداد فرخی</a></dd>
    </dl>
    <div class="tabs-content" >
      <div class="content active" id="panel2-1">
        <div class="small-6 columns"><p>


          </p></div>
        <div class="small-6 columns">
          <%= image_tag "amir-photo.jpg" %></div>
      </div>
      <div class="content" id="panel2-2">
        <div class="small-6 columns"><%= image_tag "f1.jpg" %></div>
        <div class="small-6 columns"><p>
  
          </p></div>
      </div>
    </div>


  </div>

  <div class="large-6 columns">
    <h1>درباره ی ما</h1>

    <p>
ابن وب سایت به اعضای خود امکان شرکت در انواع تورها به مکانهای دیدنی سراسر ایران را می دهد. این وب سایت پاسخی است برای افرادی که به شرکت در مسافرت علاقه مند هستند ولی زمان کافی برای برنامه ریزی آن یا گشتن دنبال تور مناسب خود را ندارند. مقصد خود را از میان مکان های انتخاب شده توسط تور لیدر های ما انتخاب کنید و توری ه مناسب خود شما است انتخاب کنید. اگر ایده ی جدیدی برای تور دارید، پیشنهاد بدهید و از دوستان خود بخواهید از آ طرفداری کنند. با افراد همسلیقه ی ود آشنا شوید و با آنها به جاذبه های موردعلاقه ی خود بروید. تنها کاری که شما لازم است انجام دهید، بستن کوله پشتی خود است!
       </p>

    <p>

      </p>
  </div>
</div>